<h1>{{ bucket.name }}</h1>
<div class="navbar p-3">
  <div>
    <span
      class="my-nav-item"
      [ngClass]="{ active: tabShown === 'Files' }"
      (click)="switchTab('Files')"
      >Files</span
    >
    <span
      class="my-nav-item"
      [ngClass]="{ active: tabShown === 'Details' }"
      (click)="switchTab('Details')"
      >Details</span
    >
  </div>
  <button
    *ngIf="tabShown === 'Details'"
    type="button"
    class="btn btn-danger"
    (click)="openDeleteBucketModal(deleteBucketModal)"
  >
    Delete Bucket
  </button>
</div>

<!-- FILES TAB -->
<app-files-list
  *ngIf="tabShown === 'Files'"
  [files]="bucket.files"
  (onDeleteObject)="openDeleteFileModal(deleteObjectModal, $event)"
  (onUploadObject)="uploadFile($event)"
></app-files-list>

<!-- DETAILS TAB -->
<app-bucket-details
  *ngIf="tabShown === 'Details'"
  [bucket]="bucket"
></app-bucket-details>

<!-- MODAL -->
<ng-template #deleteObjectModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete object</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete this object?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Ok click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<ng-template #deleteBucketModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete bucket</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete this bucket?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Ok click')"
    >
      Ok
    </button>
  </div>
</ng-template>
